

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 500px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}
#user-img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
    
}
#card h1{
    font-size: 2rem;
    margin: 10px 0;
}

#card h5{
    font-size: 2rem;
    color: red;
    margin:10px;
}
#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding:12px 20px;
    border-radius: 10px;
    border:none;
    margin:5px;
    cursor: pointer;
}
/* #card #remove{
    background-color: #dadada;
    color:black;
 } */
 


